
  <div class="update_content">
    <div class="input__content">
      <div class="input__header">
        <h3 class="input__title">内容変更</h3>
      </div>
      <div class="input__body">
        <%= form_with model: @event, local: true do |e| %>
          <div  class="col">
            <p>
              <span>タイトル</span>
              <span><%= e.text_field :title, class: "form-control1", placeholder: "予定名を入力してください" %></span>
            </p>
            <span>開始日時</span>
            <span><%= e.datetime_field  :start_time, placeholder: "XXXX-XX-XX", class:"input__time" %> ~ </span><br>
            <span>終了日時</span>
            <span><%= e.datetime_field :end_time, placeholder: "XXXX-XX-XX", class:"input__time" %></span><br>
            <span>予定詳細
            <%= e.text_area :body, class: "form-control2", placeholder: "予定の詳細を入力してください" %></span><br>
            <span>使用金額</span>
            <%= e.fields_for :finance, @event.build_finance do |f| %>
              <span><%= f.number_field :consumption, class: "field__consumption", placeholder: "使用予定金額を入力してください"%><br>
              <span>金額項目</span>
              <span><%= f.select :item, [["娯楽費", "娯楽費"], ["購入費", "購入費"], ["食事代", "食事代"], ["交通費", "交通費"], ["雑費", "雑費"]], include_blank: "選択して下さい", class: "input__item" %><br>
            <% end %>
          </div>
          <div class="input__footer">
            <%= e.submit "更新する", class: "btn-primary" %>
            <%= e.hidden_field :user_id, :value => current_user.id %>
            <a href="/events">
              <button type="button" class="btn-default">閉じる</button>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>